<p>{{name|uppercase}}</p>
<p>{{name|lowercase}}</p>
<p>{{name|titlecase}}</p>
<p>{{6.258|number:'1.2-3'}}</p>
<p>{{6.258|number:'3.2-3'}}</p>
<p>{{6.258|number:'3.1-2'}}</p>
<p>{{0.258|percent}}</p>
<p>{{1234000|currency}}</p>
<p>{{1234000|currency:'GBP'}}</p>
<p>{{1234000|currency:'GBP':'code'}}</p>
<p>{{1234000|currency:'INR'}}</p>
<p>{{1234000|currency:'INR':'code'}}</p>
<p>{{date}}</p>
<p>{{date|date}}</p>
<p>{{date|date:'short'}}</p>
<p>{{date|date:'shortDate'}}</p>
<p>{{date|date:'shortTime'}}</p>

<p>{{date|date:'medium'}}</p>
<p>{{date|date:'mediumDate'}}</p>
<p>{{date|date:'mediumTime'}}</p>

<p>{{date|date:'long'}}</p>
<p>{{date|date:'longDate'}}</p>
<p>{{date|date:'longTime'}}</p>

<p>{{date|date:'full'}}</p>
<p>{{date|date:'fullDate'}}</p>
<p>{{date|date:'fullTime'}}</p>

<p>{{date|date:'dd-MM-yy'}}</p>
<p>{{date|date:'dd/MM/yyyy'}}</p>
<p>{{date|date:'dd/MMM/yyyy'}}</p>
<p>{{date|date:'dd/MMMM/yyyy'}}</p>
<h3>{{name|slice:3:6}}</h3>