<p>product-list</p>
<div class="container">
<table class="table table-dark table-hover">
<tr class="table-primary"><th class="thead-dark">Product_id</th><th  class="thead-dark">name</th><th  class="thead-dark">Brand</th><th  class="thead-dark">Price</th></tr>
<tr *ngFor="let p of products" (click)="onSelect(p)">
    <td>{{p.productId}}</td>
    <td>{{p.name}}</td>
    <td>{{p.brand}}</td>
    <td>{{p.price}}</td>
</tr>
</table>
</div>
<div *ngIf="selectedProduct"> 
        <p>{{selectedProduct.name}}</p>
       <p>{{selectedProduct.brand}}</p>
       <p>{{selectedProduct.price}}</p>
<div><p><input [(ngModel)]="selectedProduct.price"/></p></div>
</div>

<div *ngFor="let p of products">
<h2>{{p.name}}</h2>
<h3>{{p.brand}}</h3>
<button class="btn btn-dark" (click)="share()">Share</button>
<app-product-notifier [parentData]="p" (notify)="notifyUser($event)"></app-product-notifier>



</div>
<p>{{childData}}</p>